<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369974969046-dmcc0cnu47gtm81kl67o7k93085k77gn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369974969046-dmcc0cnu47gtm81kl67o7k93085k77gn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>369974969046-t5ch588o9qbfoiq41qn4vtfao9kqrvep.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWvaZDmLteF67PzOsFRzbu41VilVorsSk</string>
	<key>GCM_SENDER_ID</key>
	<string>369974969046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.desouzaguilherme29.g123Schnell</string>
	<key>PROJECT_ID</key>
	<string>guiaschnell-g123</string>
	<key>STORAGE_BUCKET</key>
	<string>guiaschnell-g123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369974969046:ios:0e6955632e09929f833f77</string>
</dict>
</plist>