<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779812915292-heetk422ol3fbek2shdvqlvunsivue5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779812915292-heetk422ol3fbek2shdvqlvunsivue5a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>779812915292-h6sshko0n1invh5k31jd5aemdf0uf0rs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ0wlyaaQc8XZrMA7z4RHie4d5FF-KJSY</string>
	<key>GCM_SENDER_ID</key>
	<string>779812915292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.desouzaguilherme29.g123Schnell</string>
	<key>PROJECT_ID</key>
	<string>guia-schnell-434a6</string>
	<key>STORAGE_BUCKET</key>
	<string>guia-schnell-434a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779812915292:ios:3b15153f4edac8a9247e99</string>
</dict>
</plist>